@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Your custom styles can go below */
.protest {
    font-family: "Protest Strike", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.roboto {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}
/* NAVBAR */
.brandName{
  font-family: "Protest Strike", sans-serif;
  font-weight: 400;
  color: #FBCFE8;
}
.brandSpan{
  color: #f997cebc;
}
.navItem{
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 600;
  color: #FBCFE8;
}
.navItem :hover{
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 800;
  color: #f997cebc;
}
/* BANNER----- */
.bannerText{
  background-color: #FBCFE8;
  color: black;
}
/* FEATURED */
.priceTag{
  background-color: black;
  color: #f781c4;
  font-weight: 500;
  font-family: "Protest Strike", sans-serif;
  border: 2px solid  #FBCFE8;
  border-radius: 0px 16px;
  padding: 3%;
}
.priceTag span{
  color: #FBCFE8;
}
.nameTag{
  background-color: #FBCFE8;
  color: black;
  font-weight: 500;
  font-family: "Protest Strike", sans-serif;
  border: 2px solid  #f781c4;
  border-radius: 16px 0px ;
  padding: 3% ;
}
/* BEST-SELLER */
.bestImage{
  /* border-radius: 0px 20px 20px 20px; */
  border-radius: 0% 40% 0% 40%;
}
.bestImage1{
  /* border-radius: 0px 20px 20px 20px; */
  border-radius:  40% 0% 40% 0%;
}
.pName{
  color: #c97ca9;
}
.bestPrice{
  font-weight: 500;
  font-family: "Protest Strike", sans-serif;
  color: #c97ca9;
}
/* CUSTOMER------REVIEW */
.slick-slide > div{
  margin: 0 10px;
}
/* FOOTER------ */
.btn-basic{
    background-color:#FBCFE8 ;
    color:black;
    outline-color: #FBCFE8;
}
.box{
  border: 2px solid #FBCFE8;
  /* border-bottom: 2px solid #FBCFE8;
  border-right: 2px solid #FBCFE8; */
  border-style: dotted;
  padding: 4%;
}
.text-basic{
 color: #FBCFE8
}
.text-dark{
 color:  #c97ca9;
}
/* UTILITY------- */
.titleText{
  color: #c97ca9;
  font-weight: 500;
}
.basicBg{
  background-color: #FBCFE8;
}
.categoryImageBorder{
  border: 8px solid #c97ca9;
  border-radius: 45% 45% 0% 0%;
  border-bottom: none;
}
.categoryTextBorder{
  border: 4px solid #FBCFE8;
  border-radius: 25% 25% 40% 40%;
}
.cardTextProperty span{
  font-weight: 600;
}
.categoryButton{
  background-color: #FBCFE8;
  color: white;
  border-radius: 0% 3% 0% 3%;
}
  